<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}currency_converter{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'style/bootstrap/styles.css'%}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'favorites' %}">Favorites</a>
                </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Signup</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'multi_result' %}">Multi_result</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'historical_rates' %}">Historical_rates</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}

{% endblock %}

</body>
</html>
