{% extends 'base.html' %}

{% block title %}
Historical Rates
{% endblock %}

{% block content %}
<h3>Historical Conversion Rates</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>From Currency</th>
            <th>To Currency</th>
            <th>Rate</th>
            <th>Converted Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for conversion in conversions %}
        <tr>
            <td>{{ conversion.date }}</td>
            <td>{{ conversion.from_currency }}</td>
            <td>{{ conversion.to_currency }}</td>
            <td>{{ conversion.conversion_rate }}</td>
            <td>{{ conversion.converted_amount }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
